################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/B18 Ex04 OfirUzan 305638157 LiadPasker 307939744/.vs/B18 Ex04 Ofir 305638157 Liad 307939744/DesignTimeBuild
